{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "extends": ["standard"],
  "rules": {
    "operator-linebreak": ["error", "before"]
  }
}
