.rt-back svg {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 14px;
}

.rt-view .rt-head {
    display: none;
    position: absolute !important;
}

.rt-view .rt-body {
    padding-top: 0 !important;
}

.mip-img-loaded .img-placeholder{
    opacity: 0
}

.img-placeholder{
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    color: #FFF;
    z-index: 1000;
    transition: 1.5s;
    opacity: 1
}


.rt-svg-icon {
    width: 20px;
    height: 20px;
}


.rt-svg-icon svg {
    width: 20px;
    height: 20px;
}


iframe {
    background-color: #fff;
}

.sfa-view-loggedin {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin-top: -90px;
    margin-left: -75px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    padding: .2rem;
    opacity: 0;
    transform: translate3d(0, 25%, 0);
    transition: 320ms ease-in-out;
}

.sfa-view-loggedin svg {
    width: 120px;
    height: 120px;
    padding-left: 10px;
}

.sfa-view-loggedin svg path {
    fill: #fff;
}

.sfa-view-loggedin.sfa-view-loggedin-fadein {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.sfa-view-loggedin-text {
    font-size: 16px;
    line-height: 1;
    margin-top: -10px;
}

.userSidebar{
    background-color: #fff;
    /* padding: 2.6vw; */
}
.userSidebar__title{
    display: flex;
    align-items: center;
    background-color: #89afd6;
    color: #ffffff;
    padding: 2.6vw 2.6vw;
    min-width: 24vw;
}

.userSidebar__title .avatar, .userSidebar__title .rt-svg-icon{
    min-width: 7vw;
    min-height: 7vw;
    border-radius: 7vw;
    background-size: cover;
    border: 1px solid #d1e0ef;
    margin-right: 2vw;
    background-color: #33669b;
    padding: 2px;
    box-sizing: border-box;
}

.userSidebar__title .title{
    font-size: 18px
}

.userSidebar__title .nickname{
    max-width: 18vw;
    overflow: hidden;
    text-overflow: ellipsis;
}
.userSidebar__list{

}

.userSidebar__list .listItem{
    border-bottom: .7px solid rgba(0, 0, 0, 0.08);
}
.userSidebar__list .listItem a{
    padding: 3vw;
    padding-right: 5vw;
    display: flex;
    align-items: center;

}

.userSidebar__list .rt-svg-icon{
    padding-right: 2vw;
}

.com-switch {
	width: 52px;
	height: 31px;
	position: relative;
	border: 1px solid #dfdfdf;
	background-color: #fdfdfd;
	box-shadow: #dfdfdf 0 0 0 0 inset;
	border-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-clip: content-box;
	display: inline-block;
	-webkit-appearance: none;
	user-select: none;
	outline: none;
}

.com-switch:before {
	content: '';
	width: 29px;
	height: 29px;
	position: absolute;
	top: 0px;
	left: 0;
	border-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.com-switch:checked {
	border-color: #64bd63;
	box-shadow: #64bd63 0 0 0 16px inset;
	background-color: #64bd63;
}

.com-switch:checked:before {
	left: 21px;
}

.com-switch.com-switch-animbg {
	transition: background-color ease 0.4s;
}

.com-switch.com-switch-animbg:before {
	transition: left 0.3s;
}

.com-switch.com-switch-animbg:checked {
	box-shadow: #dfdfdf 0 0 0 0 inset;
	background-color: #64bd63;
	transition: border-color 0.4s, background-color ease 0.4s;
}

.com-switch.com-switch-animbg:checked:before {
	transition: left 0.3s;
}

.com-switch.com-switch-anim {
	transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.com-switch.com-switch-anim:before {
	transition: left 0.3s;
}

.com-switch.com-switch-anim:checked {
	box-shadow: #64bd63 0 0 0 16px inset;
	background-color: #64bd63;
	transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

.com-switch.com-switch-anim:checked:before {
	transition: left 0.3s;
}
